<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenyon Car Connect - Your Profile </title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../Styles/styles.css">
</head>
<body>

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Kenyon Car Connect</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a href = "/" class="nav-link">Home<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <a href="/User/LogoutUser" class="btn btn-info" role="button">Logout</a>
        <a href="/User/Profile" class="btn btn-info" role="button">Profile</a>
    </div>
</nav>

<!-- Header for Profile Page -->
<div class="container mt-5 justify-content-center text-center">
    <h1>Profile</h1>
    <hr>
</div>

<!-- Profile Information -->
<div class="container mt-4">
    <!-- Header for Account Information-->
    <h2> Account Information </h2>
    <div class="d-flex flex-column">
        <!-- User Email -->
        <div class="d-flex align-items-center">
            <div class="px-3 py-2 bg-secondary text-white label-box border">
                Email:
            </div>
            <div class="px-3 py-2 bg-light border username-box">
                <%= user.email %>
            </div>
        </div>
        
        <br>
        <!-- User Password -->
        <div class="d-flex align-items-center">
            <div class="px-3 py-2 bg-secondary text-white label-box border">
                Password:
            </div>
            <div class="px-3 py-2 bg-light border username-box">
                <%= userPassword %>
            </div>
        </div>
        <!-- User First Name-->
        <div class="d-flex align-items-center">
            <div class="px-3 py-2 bg-secondary text-white label-box border">
                First Name:
            </div>
            <div class="px-3 py-2 bg-light border username-box">
                <%= user.firstName %>
            </div>
        </div>
        <br>
        <!-- User Last Name-->
        <div class="d-flex align-items-center">
            <div class="px-3 py-2 bg-secondary text-white label-box border">
                Last Name:
            </div>
            <div class="px-3 py-2 bg-light border username-box">
                <%= user.lastName %>
            </div>
        </div>
        <br>
        <!-- Button to update profile information -->
        <div class = "d-flex align-items-center">
            <button class="btn btn-primary ms-2" data-toggle = "modal" data-target = "#updateProfileModal">Update Profile Info</button>
        </div>
    </div>
</div>

<!-- Modal for updating profile information -->
<div class="modal fade" id="updateProfileModal" tabindex="-1" aria-labelledby="updateProfileModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCarModalLabel">Update Profile Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Form for updating profile information -->
                <form action="/User/UpdateProfile" method="POST">                     
                    <div class="form-group">
                        <label for="email" class="form-label">Email</label>
                        <input class="form-control" type="text" value = '<%= user.email %>' placeholder= 'Email' readonly> 
                        <small id="emailHelp" class="form-text text-muted">Your school email must be used, so you cannot change this.</small>
                    </div>
                    <div class="form-group">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" name="password" id="password" value = "<%= userPassword %>" placeholder = "Password" class="form-control" required>
                    </div>
                    <div class="form-group" id="retypePasswordContainer" style="display: none;">
                        <label for="retypePassword" class="form-label">Re-type Password</label>
                        <input type="password" name="retypePassword" id="retypePassword" class="form-control">
                        <small id="passwordMatchMessage" class="text-danger" style="display: none;">Passwords do not match</small>
                    </div>
                    <div class="form-group">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" name="firstName" id="firstName" value = "<%= user.firstName %>" placeholder = "First Name" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" name="lastName" id="lastName" value = "<%= user.lastName %>" placeholder = "Last Name" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="gender" class="form-label">Gender</label>
                        <select name="gender" id="gender" class="form-control" required>
                            <option value="" disabled selected><%= user.gender %></option>
                            <option value="Male" <%= user.gender === 'Male' ? 'selected' : '' %>>Male</option>
                            <option value="Female" <%= user.gender === 'Female' ? 'selected' : '' %>>Female</option>
                            <option value="Nonbinary" <%= user.gender === 'Nonbinary' ? 'selected' : '' %>>Nonbinary</option>
                            <option value="Other" <%= user.gender === 'Other' ? 'selected' : '' %>>Other</option>
                            <option value="Prefer not to say" <%= user.gender === 'Prefer not to say' ? 'selected' : '' %>>Prefer not to say</option>
                        </select>
                    </div>
                    <div class = "mt-5 text-center">
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Car Information (Shown if user has car) -->
<% if(userHasCar){ %>
<!-- Car Information -->
<div class="container mt-4">
    <!-- Header for Car Information-->
    <h2> Your Car </h2>
    <div class="d-flex flex-column">
        <!-- Car Make -->
        <div class="d-flex align-items-center">
            <div class="px-3 py-2 bg-secondary text-white label-box border">
                Car Make:
            </div>
            <div class="px-3 py-2 bg-light border username-box">
                <%= car.make %>
            </div>
        </div>
        <br>
        <!-- Car Model -->
        <div class="d-flex align-items-center">
            <div class="px-3 py-2 bg-secondary text-white label-box border">
                Car Model:
            </div>
            <div class="px-3 py-2 bg-light border username-box">
                <%= car.model %>
            </div>
        </div>
        <br>
        <!-- Car Year -->
        <div class="d-flex align-items-center">
            <div class="px-3 py-2 bg-secondary text-white label-box border">
                Car Year:
            </div>
            <div class="px-3 py-2 bg-light border username-box">
                <%= car.year %>
            </div>
        </div>
        <br>
        <!-- Car Color -->
        <div class="d-flex align-items-center">
            <div class="px-3 py-2 bg-secondary text-white label-box border">
                Car Color:
            </div>
            <div class="px-3 py-2 bg-light border username-box">
                <%= car.color %>
            </div>
        </div>
        <br>
        <!-- Car License Plate -->
        <div class="d-flex align-items-center">
            <div class="px-3 py-2 bg-secondary text-white label-box border">
                Car License Plate:
            </div>
            <div class="px-3 py-2 bg-light border username-box">
                <%= car.licensePlate %>
            </div>
        </div>
        <br>
        <!-- Car Seats Available -->
        <div class="d-flex align-items-center">
            <div class="px-3 py-2 bg-secondary text-white label-box border">
                Seats Available:
            </div>
            <div class="px-3 py-2 bg-light border username-box">
                <%= car.seatsInCar %>
            </div>
        </div>
        <br>
        <!-- Car Conversation Preference -->
        <div class="d-flex align-items-center">
            <div class="px-3 py-2 bg-secondary text-white label-box border">
                Conversation Preference:
            </div>
            <div class="px-3 py-2 bg-light border username-box">
                <%= car.conversationPreference %>
            </div>
        </div>
        <!-- Button to update car information -->
        <div class = "d-flex align-items-center">
            <button class="btn btn-primary ms-2" data-toggle = "modal" data-target = "#updateCarModal">Update Car Info</button>
        </div>
    </div>
</div>
<!-- Modal for Updating Car Information -->
<div class="modal fade" id="updateCarModal" tabindex="-1" aria-labelledby="updateCarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCarModalLabel">Update Your Car Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Form for adding car information -->
                <form action="/Car/UpdateCar" method="POST">
                    <!-- Selection for car make, code is to make sure pre-existing car model is passed if it exists-->
                    <div class="form-group">
                        <label for="make" class="form-label">Car Make</label>
                        <select name="make" id="make" class="form-control" required>
                            <option value="" disabled <%= !car.make ? 'selected' : '' %>>Select a car make</option>
                            <option value="Audi" <%= car.make === 'Audi' ? 'selected' : '' %>>Audi</option>
                            <option value="BMW" <%= car.make === 'BMW' ? 'selected' : '' %>>BMW</option>
                            <option value="Buick" <%= car.make === 'Buick' ? 'selected' : '' %>>Buick</option>
                            <option value="Cadillac" <%= car.make === 'Cadillac' ? 'selected' : '' %>>Cadillac</option>
                            <option value="Chevrolet" <%= car.make === 'Chevrolet' ? 'selected' : '' %>>Chevrolet</option>
                            <option value="Chrysler" <%= car.make === 'Chrysler' ? 'selected' : '' %>>Chrysler</option>
                            <option value="Dodge" <%= car.make === 'Dodge' ? 'selected' : '' %>>Dodge</option>
                            <option value="Ferrari" <%= car.make === 'Ferrari' ? 'selected' : '' %>>Ferrari</option>
                            <option value="Ford" <%= car.make === 'Ford' ? 'selected' : '' %>>Ford</option>
                            <option value="GM" <%= car.make === 'GM' ? 'selected' : '' %>>GM</option>
                            <option value="GEM" <%= car.make === 'GEM' ? 'selected' : '' %>>GEM</option>
                            <option value="GMC" <%= car.make === 'GMC' ? 'selected' : '' %>>GMC</option>
                            <option value="Honda" <%= car.make === 'Honda' ? 'selected' : '' %>>Honda</option>
                            <option value="Hummer" <%= car.make === 'Hummer' ? 'selected' : '' %>>Hummer</option>
                            <option value="Hyundai" <%= car.make === 'Hyundai' ? 'selected' : '' %>>Hyundai</option>
                            <option value="Infiniti" <%= car.make === 'Infiniti' ? 'selected' : '' %>>Infiniti</option>
                            <option value="Isuzu" <%= car.make === 'Isuzu' ? 'selected' : '' %>>Isuzu</option>
                            <option value="Jaguar" <%= car.make === 'Jaguar' ? 'selected' : '' %>>Jaguar</option>
                            <option value="Jeep" <%= car.make === 'Jeep' ? 'selected' : '' %>>Jeep</option>
                            <option value="Kia" <%= car.make === 'Kia' ? 'selected' : '' %>>Kia</option>
                            <option value="Lamborghini" <%= car.make === 'Lamborghini' ? 'selected' : '' %>>Lamborghini</option>
                            <option value="Land Rover" <%= car.make === 'Land Rover' ? 'selected' : '' %>>Land Rover</option>
                            <option value="Lexus" <%= car.make === 'Lexus' ? 'selected' : '' %>>Lexus</option>
                            <option value="Lincoln" <%= car.make === 'Lincoln' ? 'selected' : '' %>>Lincoln</option>
                            <option value="Lotus" <%= car.make === 'Lotus' ? 'selected' : '' %>>Lotus</option>
                            <option value="Mazda" <%= car.make === 'Mazda' ? 'selected' : '' %>>Mazda</option>
                            <option value="Mercedes-Benz" <%= car.make === 'Mercedes-Benz' ? 'selected' : '' %>>Mercedes-Benz</option>
                            <option value="Mercury" <%= car.make === 'Mercury' ? 'selected' : '' %>>Mercury</option>
                            <option value="Mitsubishi" <%= car.make === 'Mitsubishi' ? 'selected' : '' %>>Mitsubishi</option>
                            <option value="Nissan" <%= car.make === 'Nissan' ? 'selected' : '' %>>Nissan</option>
                            <option value="Oldsmobile" <%= car.make === 'Oldsmobile' ? 'selected' : '' %>>Oldsmobile</option>
                            <option value="Peugeot" <%= car.make === 'Peugeot' ? 'selected' : '' %>>Peugeot</option>
                            <option value="Pontiac" <%= car.make === 'Pontiac' ? 'selected' : '' %>>Pontiac</option>
                            <option value="Porsche" <%= car.make === 'Porsche' ? 'selected' : '' %>>Porsche</option>
                            <option value="Regal" <%= car.make === 'Regal' ? 'selected' : '' %>>Regal</option>
                            <option value="Saab" <%= car.make === 'Saab' ? 'selected' : '' %>>Saab</option>
                            <option value="Saturn" <%= car.make === 'Saturn' ? 'selected' : '' %>>Saturn</option>
                            <option value="Subaru" <%= car.make === 'Subaru' ? 'selected' : '' %>>Subaru</option>
                            <option value="Suzuki" <%= car.make === 'Suzuki' ? 'selected' : '' %>>Suzuki</option>
                            <option value="Toyota" <%= car.make === 'Toyota' ? 'selected' : '' %>>Toyota</option>
                            <option value="Volkswagen" <%= car.make === 'Volkswagen' ? 'selected' : '' %>>Volkswagen</option>
                            <option value="Volvo" <%= car.make === 'Volvo' ? 'selected' : '' %>>Volvo</option>
                        </select>
                    </div>                                         
                    <div class="form-group">
                        <label for="model" class="form-label">Car Model</label>
                        <input type="text" name="model" id="model" class="form-control" value = "<%= car.model %>" placeholder = "Car Model" required>
                    </div>
                    <div class="form-group">
                        <label for="year" class="form-label">Car Year</label>
                        <input type="number" name="year" id="year" class="form-control" value = "<%= car.year %>" placeholder = "Car Year" required>
                    </div>
                    <div class="form-group">
                        <label for="color" class="form-label">Car Color</label>
                        <input type="text" name="color" id="color" class="form-control" value = "<%= car.color %>" placeholder = "Car Color" required>
                    </div>
                    <div class="form-group">
                        <label for="licensePlate" class="form-label">Car License Plate</label>
                        <input type="text" name="licensePlate" id="licensePlate" class="form-control" value = "<%= car.licensePlate %>" placeholder = "License Plate" required>
                    </div>
                    <div class="form-group">
                        <label for="seatsInCar" class="form-label">How many seats are available in your car for passengers?</label>
                        <input type="number" name="seatsInCar" id="seatsInCar" class="form-control" value = "<%= car.seatsInCar %>" placeholder = "Seats in Car" required>
                    </div>
                    <!-- Comfortable Level of Conversation, code is to make sure the preset conversastion preference is passed if the user doesn't select something new-->
                    <div class="form-group">
                        <label for="conversationPreference" class="form-label">What is your comfortable level of conversation with passengers?</label>
                        <select name="conversationPreference" id="conversationPreference" class="form-control" required>
                            <option value="" disabled <%= !car.conversationPreference ? 'selected' : '' %>>Select an option</option>
                            <option value="Very talkative" <%= car.conversationPreference === 'Very talkative' ? 'selected' : '' %>>Very talkative</option>
                            <option value="Some small talk" <%= car.conversationPreference === 'Some small talk' ? 'selected' : '' %>>Some small talk</option>
                            <option value="Silence is preferred" <%= car.conversationPreference === 'Silence is preferred' ? 'selected' : '' %>>Silence is preferred</option>
                            <option value="No preference" <%= car.conversationPreference === 'No preference' ? 'selected' : '' %>>No preference</option>
                        </select>
                    </div>
                    <div class = "mt-5 text-center">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- Add Car Information (Shown if user has no car)-->
<% }else{ %>
<!-- Car Information -->
<div class="container mt-4">
    <!-- Header for Car Information-->
    <h2> Your Car </h2>

    <!-- Text & Button to add car-->
    <div class="d-flex align-items-center">
        <div class="px-3 py-2 bg-secondary text-white label-box border">
            Looks like you do not have a car added yet... Add one below when ready!
        </div>
        <button class="btn btn-primary ms-2" data-toggle = "modal" data-target = "#addCarModal">Add Your Car</button>
    </div>

    <!-- Modal for adding car information -->
    <div class="modal fade" id="addCarModal" tabindex="-1" aria-labelledby="addCarModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCarModalLabel">Add Your Car Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form for adding car information -->
                    <form action="/Car/AddCar" method="POST">
                        <div class="form-group">
                            <label for="make" class="form-label">Car Make</label>
                            <select name="make" id="make" class="form-control" required>
                                <option value="" disabled selected>Select a car make</option>
                                <option>Audi</option>
                                <option>BMW</option>
                                <option>Buick</option>
                                <option>Cadillac</option>
                                <option>Chevrolet</option>
                                <option>Chrysler</option>
                                <option>Dodge</option>
                                <option>Ferrari</option>
                                <option>Ford</option>
                                <option>GM</option>
                                <option>GEM</option>
                                <option>GMC</option>
                                <option>Honda</option>
                                <option>Hummer</option>
                                <option>Hyundai</option>
                                <option>Infiniti</option>
                                <option>Isuzu</option>
                                <option>Jaguar</option>
                                <option>Jeep</option>
                                <option>Kia</option>
                                <option>Lamborghini</option>
                                <option>Land Rover</option>
                                <option>Lexus</option>
                                <option>Lincoln</option>
                                <option>Lotus</option>
                                <option>Mazda</option>
                                <option>Mercedes-Benz</option>
                                <option>Mercury</option>
                                <option>Mitsubishi</option>
                                <option>Nissan</option>
                                <option>Oldsmobile</option>
                                <option>Peugeot</option>
                                <option>Pontiac</option>
                                <option>Porsche</option>
                                <option>Regal</option>
                                <option>Saab</option>
                                <option>Saturn</option>
                                <option>Subaru</option>
                                <option>Suzuki</option>
                                <option>Toyota</option>
                                <option>Volkswagen</option>
                                <option>Volvo</option>
                            </select>
                        </div>                        
                        <div class="form-group">
                            <label for="model" class="form-label">Car Model</label>
                            <input type="text" name="model" id="model" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="year" class="form-label">Car Year</label>
                            <input type="number" name="year" id="year" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="color" class="form-label">Car Color</label>
                            <input type="text" name="color" id="color" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="licensePlate" class="form-label">Car License Plate</label>
                            <input type="text" name="licensePlate" id="licensePlate" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="seatsInCar" class="form-label">How many seats are available in your car for passengers?</label>
                            <input type="number" name="seatsInCar" id="seatsInCar" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="conversationPreference" class="form-label">What is your comfortable level of conversation with passengers?</label>
                            <select name="conversationPreference" id="conversationPreference" class="form-control" required>
                                <option>Very talkative</option>
                                <option>Some small talk</option>
                                <option>Silence is preferred</option>
                                <option>No preference</option>
                            </select>
                        </div>
                        <div class = "mt-5 text-center">
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<% } %>

<!-- Scripts for page necessities -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Awesome scripts for making this page dynamic-->
 <script>
// Custom validation for password
    document.getElementById('password').addEventListener('input', function() {
        const passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).+$/;
        if (!passwordPattern.test(this.value)) {
            this.setCustomValidity('Password must contain at least one uppercase letter, one lowercase letter, and one number.');
        } else {
            this.setCustomValidity('');
        }
    });

// Prevent form submission if password is not valid
    document.querySelector('form').addEventListener('submit', function(event) {
        const passwordInput = document.getElementById('password');
        const passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).+$/;
        if (!passwordPattern.test(passwordInput.value)) {
            passwordInput.setCustomValidity('Password must contain at least one uppercase letter, one lowercase letter, and one number.');
            passwordInput.reportValidity();
            event.preventDefault();
        }
    });

    document.addEventListener("DOMContentLoaded", function() {
        // Get references to form elements
        const passwordInput = document.getElementById("password");  // The main password input field
        const retypePasswordContainer = document.getElementById("retypePasswordContainer"); // Div containing the retype password field
        const retypePasswordInput = document.getElementById("retypePassword"); // The re-type password input field
        const passwordMatchMessage = document.getElementById("passwordMatchMessage"); // Error message for mismatched passwords
        const submitButton = document.getElementById("submitButton"); // Submit button

        // Event listener for the main password field
        passwordInput.addEventListener("input", function() {
            // If the user starts typing in the password field, show the "Re-type Password" input
            if (passwordInput.value.length > 0 && passwordInput.value != "<%= userPassword %>") {
                retypePasswordContainer.style.display = "block"; // Show the retype password input field
            } else {
                // Hide the retype password field if the main password field is empty
                retypePasswordContainer.style.display = "none";
                passwordMatchMessage.style.display = "none"; // Hide the error message
                retypePasswordInput.value = ""; // Clear the retype password field
            }
        });
        // Event listener for the retype password field
        retypePasswordInput.addEventListener("input", function() {
            // Check if the retype password matches the main password
            if (retypePasswordInput.value !== passwordInput.value) {
                passwordMatchMessage.style.display = "block"; // Show error message
                submitButton.disabled = true; // Disable the submit button
            } else {
                passwordMatchMessage.style.display = "none"; // Hide error message
                submitButton.disabled = false; // Enable the submit button
            }
        });
    });

</script>

</body>
</html>