<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenyon Car Connect - Your Profile </title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../Styles/styles.css">
</head>
<body>

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Kenyon Car Connect</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a href = "/" class="nav-link">Home<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <a href="/User/LogoutUser" class="btn btn-info" role="button">Logout</a>
        <a href="/User/Profile" class="btn btn-info" role="button">Profile</a>
    </div>
</nav>

<!-- Header for Profile Page -->
<div class="container mt-5 justify-content-center text-center">
    <h1>Profile</h1>
    <hr>
</div>

<!-- Profile Information -->
<div class="container mt-4">
    <!-- Header for Account Information-->
    <h2> Account Information </h2>
    <div class="d-flex flex-column">
        <!-- User First Name-->
        <div class="d-flex align-items-center">
            <div class="px-3 py-2 bg-secondary text-white label-box border">
                First Name:
            </div>
            <div class="px-3 py-2 bg-light border username-box">
                <%= user.firstName %>
            </div>
        </div>
        <br>
        <!-- User Last Name-->
        <div class="d-flex align-items-center">
            <div class="px-3 py-2 bg-secondary text-white label-box border">
                Last Name:
            </div>
            <div class="px-3 py-2 bg-light border username-box">
                <%= user.lastName %>
            </div>
        </div>
        <br>
        <!-- User Email -->
        <div class="d-flex align-items-center">
            <div class="px-3 py-2 bg-secondary text-white label-box border">
                Email:
            </div>
            <div class="px-3 py-2 bg-light border username-box">
                <%= user.email %>
            </div>
        </div>
        <br>
        <!-- User Password -->
        <div class="d-flex align-items-center">
            <div class="px-3 py-2 bg-secondary text-white label-box border">
                Password:
            </div>
            <div class="px-3 py-2 bg-light border username-box">
                <%= userPassword %>
            </div>
            <button class="btn btn-primary ms-2">Update</button>
        </div>
        <!-- Button to update profile information -->
        <div class = "d-flex align-items-center">
            <button class="btn btn-primary ms-2" data-toggle = "modal" data-target = "#updateProfileModal">Update Profile Info</button>
        </div>
    </div>
</div>

<!-- Modal for updating profile information -->
<div class="modal fade" id="updateProfileModal" tabindex="-1" aria-labelledby="updateProfileModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCarModalLabel">Update Profile Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Form for adding car information -->
                <form action="/User/UpdateProfile" method="POST">                     
                    <div class="form-group">
                        <label for="model" class="form-label">Car Model</label>
                        <input type="text" name="model" id="model" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="year" class="form-label">Car Year</label>
                        <input type="number" name="year" id="year" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="color" class="form-label">Car Color</label>
                        <input type="text" name="color" id="color" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="licensePlate" class="form-label">Car License Plate</label>
                        <input type="text" name="licensePlate" id="licensePlate" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="seatsInCar" class="form-label">How many seats are available in your car for passengers?</label>
                        <input type="number" name="seatsInCar" id="seatsInCar" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="conversationPreference" class="form-label">What is your comfortable level of conversation with passengers?</label>
                        <select name="conversationPreference" id="conversationPreference" class="form-control" required>
                            <option>Very talkative</option>
                            <option>Some small talk</option>
                            <option>Silence is preferred</option>
                            <option>No preference</option>
                        </select>
                    </div>
                    <div class = "mt-5 text-center">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Car Information (Shown if user has car) -->
<% if(userHasCar){ %>
<!-- Car Information -->
<div class="container mt-4">
    <!-- Header for Car Information-->
    <h2> Your Car </h2>
    <div class="d-flex flex-column">
        <!-- Car Make -->
        <div class="d-flex align-items-center">
            <div class="px-3 py-2 bg-secondary text-white label-box border">
                Car Make:
            </div>
            <div class="px-3 py-2 bg-light border username-box">
                <%= car.make %>
            </div>
        </div>
        <br>
        <!-- Car Model -->
        <div class="d-flex align-items-center">
            <div class="px-3 py-2 bg-secondary text-white label-box border">
                Car Model:
            </div>
            <div class="px-3 py-2 bg-light border username-box">
                <%= car.model %>
            </div>
        </div>
        <br>
        <!-- Car Year -->
        <div class="d-flex align-items-center">
            <div class="px-3 py-2 bg-secondary text-white label-box border">
                Car Year:
            </div>
            <div class="px-3 py-2 bg-light border username-box">
                <%= car.year %>
            </div>
        </div>
        <br>
        <!-- Car Color -->
        <div class="d-flex align-items-center">
            <div class="px-3 py-2 bg-secondary text-white label-box border">
                Car Color:
            </div>
            <div class="px-3 py-2 bg-light border username-box">
                <%= car.color %>
            </div>
        </div>
        <br>
        <!-- Car License Plate -->
        <div class="d-flex align-items-center">
            <div class="px-3 py-2 bg-secondary text-white label-box border">
                Car License Plate:
            </div>
            <div class="px-3 py-2 bg-light border username-box">
                <%= car.licensePlate %>
            </div>
        </div>
        <br>
        <!-- Car Seats Available -->
        <div class="d-flex align-items-center">
            <div class="px-3 py-2 bg-secondary text-white label-box border">
                Seats Available:
            </div>
            <div class="px-3 py-2 bg-light border username-box">
                <%= car.seatsInCar %>
            </div>
        </div>
        <br>
        <!-- Car Conversation Preference -->
        <div class="d-flex align-items-center">
            <div class="px-3 py-2 bg-secondary text-white label-box border">
                Conversation Preference:
            </div>
            <div class="px-3 py-2 bg-light border username-box">
                <%= car.conversationPreference %>
            </div>
            <button class="btn btn-primary ms-2">Update</button>
        </div>
    </div>
</div>
<!-- Add Car Information (Shown if user has no car)-->
<% }else{ %>
<!-- Car Information -->
<div class="container mt-4">
    <!-- Header for Car Information-->
    <h2> Your Car </h2>

    <!-- Text & Button to add car-->
    <div class="d-flex align-items-center">
        <div class="px-3 py-2 bg-secondary text-white label-box border">
            Looks like you do not have a car added yet... Add one below when ready!
        </div>
        <button class="btn btn-primary ms-2" data-toggle = "modal" data-target = "#addCarModal">Add Your Car</button>
    </div>

    <!-- Modal for adding car information -->
    <div class="modal fade" id="addCarModal" tabindex="-1" aria-labelledby="addCarModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCarModalLabel">Add Your Car Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form for adding car information -->
                    <form action="/Car/AddCar" method="POST">
                        <div class="form-group">
                            <label for="make" class="form-label">Car Make</label>
                            <select name="make" id="make" class="form-control" required>
                                <option value="" disabled selected>Select a car make</option>
                                <option>Audi</option>
                                <option>BMW</option>
                                <option>Buick</option>
                                <option>Cadillac</option>
                                <option>Chevrolet</option>
                                <option>Chrysler</option>
                                <option>Dodge</option>
                                <option>Ferrari</option>
                                <option>Ford</option>
                                <option>GM</option>
                                <option>GEM</option>
                                <option>GMC</option>
                                <option>Honda</option>
                                <option>Hummer</option>
                                <option>Hyundai</option>
                                <option>Infiniti</option>
                                <option>Isuzu</option>
                                <option>Jaguar</option>
                                <option>Jeep</option>
                                <option>Kia</option>
                                <option>Lamborghini</option>
                                <option>Land Rover</option>
                                <option>Lexus</option>
                                <option>Lincoln</option>
                                <option>Lotus</option>
                                <option>Mazda</option>
                                <option>Mercedes-Benz</option>
                                <option>Mercury</option>
                                <option>Mitsubishi</option>
                                <option>Nissan</option>
                                <option>Oldsmobile</option>
                                <option>Peugeot</option>
                                <option>Pontiac</option>
                                <option>Porsche</option>
                                <option>Regal</option>
                                <option>Saab</option>
                                <option>Saturn</option>
                                <option>Subaru</option>
                                <option>Suzuki</option>
                                <option>Toyota</option>
                                <option>Volkswagen</option>
                                <option>Volvo</option>
                            </select>
                        </div>                        
                        <div class="form-group">
                            <label for="model" class="form-label">Car Model</label>
                            <input type="text" name="model" id="model" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="year" class="form-label">Car Year</label>
                            <input type="number" name="year" id="year" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="color" class="form-label">Car Color</label>
                            <input type="text" name="color" id="color" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="licensePlate" class="form-label">Car License Plate</label>
                            <input type="text" name="licensePlate" id="licensePlate" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="seatsInCar" class="form-label">How many seats are available in your car for passengers?</label>
                            <input type="number" name="seatsInCar" id="seatsInCar" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="conversationPreference" class="form-label">What is your comfortable level of conversation with passengers?</label>
                            <select name="conversationPreference" id="conversationPreference" class="form-control" required>
                                <option>Very talkative</option>
                                <option>Some small talk</option>
                                <option>Silence is preferred</option>
                                <option>No preference</option>
                            </select>
                        </div>
                        <div class = "mt-5 text-center">
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<% } %>

<!-- Scripts for page necessities -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Awesome scripts for making this page dynamic-->

</body>
</html>