<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenyon Car Connect</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cc3b2bd0f4.js" crossorigin="anonymous"></script> <!-- Add Fontawesome Symbols -->
    <link rel="stylesheet" href="/Styles/styles.css">
</head>
<body>
    
<!-- Page that is shown if user has cookies (you need cookies to see this page anyways)-->
<!-- NAVBAR -->
<header>
    <%- include('./layouts/navbar.ejs') %>
</header>

<!-------------------- TRIP INFO PORTION OF PAGE ----------------------->
<!-- Two-Column Layout -->
<div class="container-fluid mt-4">
    <div class="row">
        <!-- Left Column (Trip Information) -->
        <div class="col-12 col-md-6 ">
            <!-- Header for trip info page portion-->
            <h2 class="text-center">
                <span class = "trip-info-title"><b>Trip info for "<%= trip.title %>"</b></span>
            </h2>
            <!-- Badge for trip type-->
            <h3 class="trip-info-badge">
                <% if(trip.tripType === "Providing a ride"){ %>
                    <span class="badge badge-primary trip-card trip-provided d-block">Trip</span>
                <% }else{ %>
                    <span class="badge badge-primary trip-card trip-request d-block">Trip Request</span>
                <%}%>
            </h3>
            <!-- Row holding map and trip info side by side -->
            <div class="row align-items-center map-trip-info px-3">
                <!-- Map Column -->
                <div class="col-12 col-md-6 d-flex trip-map-column pr-3">
                  <% if(trip.locationDetails) { %>
                    <div class="google-image-container-trip-page">
                      <img 
                        src="https://maps.googleapis.com/maps/api/staticmap?size=300x300
                             &zoom=<%=trip.zoomLevel%>
                             &markers=color:purple|label:A|<%= trip.locationDetails.originLat %>,<%= trip.locationDetails.originLng %>
                             &markers=color:purple|label:B|<%= trip.locationDetails.destinationLat %>,<%= trip.locationDetails.destinationLng %>
                             &path=color:0x0000ff|weight:5|<%= trip.locationDetails.originLat %>,<%= trip.locationDetails.originLng %>
                             |<%= trip.locationDetails.destinationLat %>,<%= trip.locationDetails.destinationLng %>
                             &key=<%=GoogleMapsAPIKey%>" 
                        alt="Trip route map"
                        class="img-fluid w-100 h-100"
                        style="object-fit: contain;"
                      >
                    </div>
                  <% } else { %>
                    <div class="alert alert-warning w-100 text-center">Map data unavailable</div>
                  <% } %>
                </div>
                
                <!-- Trip Info Text Column -->
                <div class="col-12 col-md-6 d-flex flex-column trip-info-column pl-3">
                  <span class="trip-info-card-field">
                    <p class="trip-field"><b>Trip Length:</b> <%= trip.length %></p>
                  </span>
                  <span class="trip-info-card-field">
                    <p class="trip-field"><b>Leaving from:</b> <%= trip.origin %></p>
                  </span>
                  <span class="trip-info-card-field">
                    <p class="trip-field"><b>Destination:</b> <%= trip.destination %></p>
                  </span>
                  <span class="trip-info-card-field">
                    <p class="trip-field"><b>Price:</b> <%= trip.payment %></p>
                  </span>
                  <span class="trip-info-card-field">
                    <p class="trip-field"><b>Date:</b> <span class="trip-date"><%= trip.date %></span></p>
                  </span>
                  <span class="trip-info-card-field">
                    <p class="trip-field"><b>Time:</b> <span class="trip-time"><%= trip.time %></span></p>
                  </span>
                </div>
              </div>
            <!-- Bottom area with trip comments and buttons -->
            <div class = "trip-info-comments-div">
                <p class="trip-field"><b>Comment:</b> <%= trip.comments %></p>
            </div>
            <div class="d-flex justify-content-center trip-info-button-div">
                <!-- Delete trip buttons -->
                <% if (isUser) { %>
                    <% if (user.id === trip.posterID) { %>
                        <button class="btn btn-primary trip-info-delete" data-toggle="modal" data-target="#deleteTripModal">
                        Cancel Trip
                        </button>
                    <% } else if (trip.tripType === "Providing a ride") { %>
                        <% const isPassenger = trip.passengers.some(passenger => passenger.id === user.id); %>
                        <!-- Leave Trip Button -->
                        <% if (isPassenger) {%>
                            <button class="btn btn-primary trip-info-delete" data-toggle="modal" data-target="#leaveTripModal">
                                Leave Trip
                            </button>
                        <% } else{ %>
                        <!-- Join Trip Button -->
                        <form action="/Trips/passengerRequestToJoinTrip/<%= trip.id %>" method="POST" class="d-flex w-100 justify-content-center">
                            <button type = "Submit" class="btn btn-primary trip-info-join">Request to Join</button>
                        </form>
                        <% } %>
                    <% } %>
                <!-- What is shown if user is not logged in -->
                <% } else { %>
                    <form action="/Trips/passengerRequestToJoinTrip/<%= trip.id %>" method="POST" class="d-flex w-100 justify-content-center">
                        <button type = "Submit" class="btn btn-primary trip-info-join">Request to Join</button>
                    </form>
                <% } %>
            </div>
        </div>
        <!-- Right Column (Car Information) -->
        <div class="col-md-6 d-flex flex-column">
            <!-- Card that is shown if this is a ride that is being provided -->
            <% if(trip.tripType === "Providing a ride"){ %>
                <div class = "card trip-information">
                   <div class = "card text-center">
                       <div class = "card-body">
                            <h2 class="card-title">Car Information</h2>
                            <% if(trip.car != null){ %>
                                <div class="d-flex align-items-center">
                                    <div class="px-3 py-2 bg-secondary text-white trip-page-label-box border">
                                        Make & Model:
                                    </div>
                                    <div class="px-3 py-2 bg-light border trip-page-info-box">
                                        <%= trip.car.make %> <%= trip.car.model %>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="px-3 py-2 bg-secondary text-white trip-page-label-box border">
                                        License Plate:
                                    </div>
                                    <div class="px-3 py-2 bg-light border trip-page-info-box">
                                        <%= trip.car.licensePlate %>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="px-3 py-2 bg-secondary text-white trip-page-label-box border">
                                        Color:
                                    </div>
                                    <div class="px-3 py-2 bg-light border trip-page-info-box">
                                        <%= trip.car.color %>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="px-3 py-2 bg-secondary text-white trip-page-label-box border">
                                        Seats Open:
                                    </div>
                                    <div class="px-3 py-2 bg-light border trip-page-info-box">
                                        <%= trip.openSeats %>
                                    </div>
                                </div>
                            <% } %>
                            <!-- List of passengers-->
                            <h2 class="card-title-passengers">Passenger List</h2>
                            <span class = "car-information-card-field">
                            <!-- What is shown if the trip does have passengers -->
                            <% if(trip.passengers.length > 0){ %>
                                    <% trip.passengers.forEach(passenger => { %>
                                    <!-- If passenger ID is same as poster ID they must be the driver-->
                                        <% if(passenger.id === trip.posterID){ %>
                                            <div class="d-flex align-items-center">
                                                <div class="px-3 py-2 bg-secondary text-white trip-page-label-box border">
                                                    Driver
                                                </div>
                                                <div class="px-3 py-2 bg-light border trip-page-info-box">
                                                    <button type="button" class="btn btn-link-passenger" data-toggle="modal" data-target="#riderProfileModal<%= passenger.id %>">
                                                        <b><%= passenger.firstName %> <%= passenger.lastName %></b>
                                                    </button>
                                                </div>
                                            </div>
                                    <!-- Passenger boxes shown if not the driver-->
                                        <% }else{ %>
                                            <div class="d-flex align-items-center">
                                                <div class="px-3 py-2 bg-secondary text-white trip-page-label-box border">
                                                    Passenger
                                                </div>
                                                <div class="px-3 py-2 bg-light border trip-page-info-box">
                                                    <span class="passenger-name text-truncate">
                                                        <button type="button" class="btn btn-link-passenger p-0" data-toggle="modal" data-target="#riderProfileModal<%= passenger.id %>">
                                                          <b><%= passenger.firstName %> <%= passenger.lastName %></b>
                                                        </button>
                                                    </span>
                                                    <!-- Remove Passenger Button (Only viewable for the trip poster) -->
                                                    <% if (isUser) { %>
                                                        <% if(user.id === trip.posterID){ %>
                                                            <button data-toggle="modal" data-target="#removePassenger<%= passenger.id %>" class="btn btn-sm remove-passenger">Remove</button>
                                                        <% } %>
                                                    <% } %>
                                                </div>
                                            </div>
                                        <% } %>

                                        <!-- Modal for each passengers Rider Profile-->
                                            <div class="modal fade" id="riderProfileModal<%= passenger.id %>" tabindex="-1" role="dialog" aria-labelledby="riderProfileModalLabel<%= passenger.id %>" aria-hidden="true">
                                                <div class="modal-dialog ride-profile" role="document">
                                                    <div class="modal-content ride-profile">
                                                        <div class="modal-header ride-profile">
                                                            <h5 class="modal-title" id="riderProfileModalLabel<%= passenger.id %>">
                                                                <b>Ride Profile:</b> <%= passenger.firstName %> <%= passenger.lastName %>
                                                            </h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body-ride-profile">
                                                            <!-- Ride Profile Information -->
                                                            <% if (passenger.rideProfile) { %>
                                                                <p><b>Pronouns:</b> <%= passenger.rideProfile.pronouns %></p>
                                                                <p><b>Email:</b> <%= passenger.email %></p>
                                                                <p><b>Preferred Conversation Level:</b> <%= passenger.rideProfile.conversationPreference %></p>
                                                                <p><b>Preferred Music:</b> <%= passenger.rideProfile.preferredMusic %></p>
                                                                <p><b>Bio:</b> <%= passenger.rideProfile.bio %></p>
                                                            <% } else { %>
                                                                <p>No ride profile information available for this passenger.</p>
                                                            <% } %>
                                                        </div>
                                                        <div class="modal-footer ride-profile">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                        <!-- Modal for removal of each passenger -->
                                        <div class="modal fade" id="removePassenger<%= passenger.id %>" tabindex="-1" role="dialog" aria-labelledby="removePassenger<%= passenger.id %>" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="deleteTripModalLabel">Remove Passenger</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure you want to remove <%= passenger.firstName %> <%= passenger.lastName %> from this trip?
                                                        This action cannot be undone.
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <form action="/Trips/removePassenger/<%= passenger.id %>?tripID=<%= trip.id %>" method="POST">
                                                            <button type="submit" class="btn btn-danger">Remove Passenger</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <% }); %>
                            <!-- What is shown if a trip has no passengers-->
                            <% }else{ %>
                                <p class = "no-passengers"><i>No passengers yet</i></p>
                            <% } %>   
                            </span>
                       </div>
                   </div>
                </div>
            <!-- Card that is shown if the ride is only a request as of now -->
            <% }else{ %>
                <div class = "card trip-information">
                    <div class = "card text-center">
                        <div class = "card-body">
                                <h2 class="card-title">Car Information</h2>
                                <span class = "ride-profile-subtext">
                                    <p>As this trip is only a request right now there is no car information</p>
                                </span>
                        </div>
                    </div>
                 </div>
            <% } %>
        </div>
    </div>
</div>


<!-- Modal for deleting a trip -->
<div class="modal fade" id="deleteTripModal" tabindex="-1" role="dialog" aria-labelledby="deleteTripModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteTripModalLabel">Cancel Trip</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to cancel this trip? It will be permanentely deleted.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="/Trips/deleteTrip/<%= trip.id %>" method="POST">
                    <button type="submit" class="btn btn-danger">Delete Trip</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal for leaving a trip -->
 <div class="modal fade" id="leaveTripModal" tabindex="-1" role="dialog" aria-labelledby="leaveTripModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteTripModalLabel">Leave Trip</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to leave this trip? This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="/Trips/leaveTrip/<%= trip.id %>" method="POST">
                    <button type="submit" class="btn btn-danger">Leave Trip</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Scripts for page necessities -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<!-- Script to parse date and time in trip postings -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Format the date for each trip
        document.querySelectorAll('.trip-date').forEach(function(element) {
            const date = new Date(element.textContent);
            const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
            element.textContent = date.toLocaleDateString('en-US', options);
        });

        // Format the time for each trip
        document.querySelectorAll('.trip-time').forEach(function(element) {
            const timeString = element.textContent.trim();
            const [hours, minutes, seconds] = timeString.split(':');
            const date = new Date();
            date.setHours(hours);
            date.setMinutes(minutes);
            date.setSeconds(seconds.split('.')[0]); // Split to remove microseconds
            const options = { hour: 'numeric', minute: 'numeric', hour12: true };
            element.textContent = date.toLocaleTimeString('en-US', options);
        });
    });
</script>

<!-- Scripts for success & error popups -->
<script>
    const urlParams = new URLSearchParams(window.location.search);

    //Popup for if removing a passenger does not work
    if (urlParams.get('error') === 'removePassenger') {
        Swal.fire({
            icon: 'error',
            title: 'Request Failed',
            text: 'There was an error removing the passenger from your ride. Please try again.',
            timer: 3000,
            showConfirmButton: false
        });
        const newUrl = window.location.origin + window.location.pathname;
        window.history.replaceState({}, document.title, newUrl);
    }

        //Popup for if leave the trip does not work
        if (urlParams.get('error') === 'leaveTrip') {
        Swal.fire({
            icon: 'error',
            title: 'Request Failed',
            text: 'Sorry, there was an error with you leaving the ride. Please try again.',
            timer: 3000,
            showConfirmButton: false
        });
        const newUrl = window.location.origin + window.location.pathname;
        window.history.replaceState({}, document.title, newUrl);
    }


</script>


</body>