<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenyon Car Connect</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cc3b2bd0f4.js" crossorigin="anonymous"></script> <!-- Add Fontawesome Symbols -->
    <link rel="stylesheet" href="/Styles/styles.css">
</head>
<body>
<!-- Page that is shown if user has cookies (you need cookies to see this page anyways)-->
<% if(isUser){ %>
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class = "container-fluid">
        <!-- Navbar Branding -->
        <div class = "navbar-header">
            <a class="navbar-brand" href="/">Kenyon Car Connect</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <!-- Post Trip Button Information -->
                    <li class = "nav-item">
                        <a href="/Trips/postTrip" class="btn btn-info me-3" role="button">
                            <i class="fa-solid fa-car"></i> Post a Trip
                        </a>
                    </li>
                    <!-- Your Trips Button Information -->
                    <li class = "nav-item">
                        <a href="/Trips/yourTrips" class="btn btn-info me-3" role="button">
                            <i class="fa-solid fa-bell"></i> Your Trips
                        </a>
                    </li>
                    <!-- Dropdown for profile and logout-->
                    <div class="dropdown">
                        <!-- Drop down button information -->
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-bars"></i> <!-- Hamburger Icon for dropdown -->
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1">
                            <!-- Profile Button Information -->
                            <li>
                                <a href="/User/Profile" class="dropdown-item" role="button">
                                    <i class="fa-solid fa-user"></i> Profile
                                </a>
                            </li>
                            <!-- Logout Button Information -->
                            <li>
                                <a href="/User/LogoutUser" class="dropdown-item" role="button">
                                    <i class="fa-solid fa-right-from-bracket"></i> Logout
                                </a>
                            </li>
                        </ul>
                    </div>                        
               </ul>
        </div>
    </div>
</nav> 

<!--- TRIP INFO PORTION OF PAGE -->
<!-- Two-Column Layout -->
<div class="container-fluid mt-4">
    <div class="row">
        <!-- Left Column (Trip Information) -->
        <div class="col-md-6">
            <!-- Header for trip info page portion-->
            <h2 class="text-center">
                <span class = "trip-info-title">Trip info for "<%= trip.title %>"</span>
            </h2>
            <!-- Badge for trip type-->
            <h3 class="trip-info-badge">
                <% if(trip.tripType === "Providing a ride"){ %>
                    <span class="badge badge-primary trip-card trip-provided d-block">Trip</span>
                <% }else{ %>
                    <span class="badge badge-primary trip-card trip-request d-block">Trip Request</span>
                <%}%>
            </h3>
            <!-- Row to contain trip image and essential information-->
            <div class = "row g-0 h-100">
                <!-- Column containing Google Map-->
                <div class="col-md-6 d-flex align-items-center justify-content-center h-100 mb-3">
                    <% if(trip.locationDetails) { %>
                        <img 
                            src="https://maps.googleapis.com/maps/api/staticmap?size=400x200&markers=color:green|label:A|<%= trip.locationDetails.originLat %>,<%= trip.locationDetails.originLng %>&markers=color:red|label:B|<%= trip.locationDetails.destinationLat %>,<%= trip.locationDetails.destinationLng %>&path=color:0x0000ff|weight:5|<%= trip.locationDetails.originLat %>,<%= trip.locationDetails.originLng %>|<%= trip.locationDetails.destinationLat %>,<%= trip.locationDetails.destinationLng %>&key=<%=GoogleMapsAPIKey%>" 
                            alt="Trip route map"
                            class="img-fluid rounded"
                            style="width: 100%; height: auto; object-fit: cover; "
                        >
                    <% } else { %>
                        <div class="alert alert-warning">Map data unavailable</div>
                    <% } %>
                </div>
                <!-- Column containing ride info-->
                <div class="col-md-6 d-flex flex-column align-items-start justify-content-center h-100 mb-3">
                    <span class = "trip-feed-card-field">
                        <p class="trip-field"><b>Trip Length:</b> <%= trip.length %> </p>
                    </span>
                    <span class = "trip-feed-card-field">
                        <p class="trip-field"><b>Leaving from:</b> <%= trip.origin %> </p>
                    </span>
                    <span class = "trip-feed-card-field">
                        <p class="trip-field"><b>Destination:</b> <%= trip.destination %> </p>
                    </span>
                    <span class = "trip-feed-card-field">
                        <p class="trip-field"><b>Price:</b> <%= trip.payment %> </p>
                    </span>
                    <span class = "trip-feed-card-field">
                        <p class="trip-field"><b>Date:</b> <span class="trip-date"> <%= trip.date %> </span> </p>
                    </span>
                    <span class = "trip-feed-card-field">
                        <p class="trip-field"><b>Time:</b> <span class="trip-time"> <%= trip.time %> </span></p>
                    </span>
                </div>
            </div>
            <!-- Bottom area with trip comments and buttons -->
            <span class = "trip-feed-card-field">
                <p class="trip-field"><b>Comment:</b> <%= trip.comments %> </p>
            </span>
            <div class = "buttonContainer d-flex justify-content-center">
                <% if(user.id === trip.posterID){ %>
                    <!-- <button class="btn btn-primary trip-info ms-2">Edit Trip</button> -->
                    <button class="btn btn-primary trip-info-delete ms-2" data-toggle = "modal" data-target = "#deleteTripModal">Delete Trip</button>
                <% }else if(trip.tripType === "Providing a ride"){ %>
                    <button class="btn btn-primary trip-info ms-2">Join Trip</button>
                <% } %>
            </div>
        </div>
        <!-- Right Column (Car Information) -->
        <div class="col-md-6 d-flex flex-column">
            <!-- Card that is shown if this is a ride that is being provided -->
            <% if(trip.tripType === "Providing a ride"){ %>
                <div class = "card trip-information">
                   <div class = "card text-center">
                       <div class = "card-body">
                            <h2 class="card-title">Car Information</h2>
                            <% if(trip.car != null){ %>
                                <div class="d-flex align-items-center">
                                    <div class="px-3 py-2 bg-secondary text-white trip-page-label-box border">
                                        Make & Model:
                                    </div>
                                    <div class="px-3 py-2 bg-light border trip-page-info-box">
                                        <%= trip.car.make %> <%= trip.car.model %>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="px-3 py-2 bg-secondary text-white trip-page-label-box border">
                                        License Plate:
                                    </div>
                                    <div class="px-3 py-2 bg-light border trip-page-info-box">
                                        <%= trip.car.licensePlate %>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="px-3 py-2 bg-secondary text-white trip-page-label-box border">
                                        Color:
                                    </div>
                                    <div class="px-3 py-2 bg-light border trip-page-info-box">
                                        <%= trip.car.color %>
                                    </div>
                                </div>
                            <% } %>
                            <!-- List of passengers-->
                            <h2 class="card-title-passengers">Passenger List</h2>
                            <span class = "car-information-card-field">
                            <!-- What is shown if the trip does have passengers -->
                            <% if(trip.passengers.length > 0){ %>
                                <ul class = "list-unstyled">
                                    <% trip.passengers.forEach(passenger => { %>
                                    <!-- If passenger ID is same as poster ID they must be the driver-->
                                        <% if(passenger.id === trip.posterID){ %>
                                            <div class="d-flex align-items-center">
                                                <div class="px-3 py-2 bg-secondary text-white trip-page-label-box border">
                                                    Driver
                                                </div>
                                                <div class="px-3 py-2 bg-light border trip-page-info-box">
                                                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#riderProfileModal<%= passenger.id %>">
                                                        <b><%= passenger.firstName %> <%= passenger.lastName %></b>
                                                    </button>
                                                </div>
                                            </div>
                                    <!-- Passenger boxes shown if not the driver-->
                                        <% }else{ %>
                                        <li class="d-flex justify-content-between align-items-center mb-2">
                                            <div class="d-flex align-items-center">
                                                <div class="px-3 py-2 bg-secondary text-white trip-page-label-box border">
                                                    Passenger
                                                </div>
                                                <div class="px-3 py-2 bg-light border trip-page-info-box">
                                                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#riderProfileModal<%= passenger.id %>">
                                                        <b><%= passenger.firstName %> <%= passenger.lastName %></b>
                                                    </button>
                                                    <!-- Remove Passenger Button (Only viewable for the trip poster) -->
                                                    <% if(user.id === trip.posterID){ %>
                                                        <form action="/Trips/removePassenger/<%= passenger.id %>?tripID=<%= trip.id %>" method="POST" class="ml-auto">
                                                            <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                                                        </form>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </li>
                                        <% } %>

                                        <!-- Modal for each passengers Rider Profile-->
                                            <div class="modal fade" id="riderProfileModal<%= passenger.id %>" tabindex="-1" role="dialog" aria-labelledby="riderProfileModalLabel<%= passenger.id %>" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="riderProfileModalLabel<%= passenger.id %>">
                                                                <b>Ride Profile:</b> <%= passenger.firstName %> <%= passenger.lastName %>
                                                            </h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <!-- Ride Profile Information -->
                                                            <% if (passenger.rideProfile) { %>
                                                                <p><b>Pronouns:</b> <%= passenger.rideProfile.pronouns %></p>
                                                                <p><b>Email:</b> <%= passenger.email %></p>
                                                                <p><b>Preferred Conversation Level:</b> <%= passenger.rideProfile.conversationPreference %></p>
                                                                <p><b>Preferred Music:</b> <%= passenger.rideProfile.preferredMusic %></p>
                                                                <p><b>Bio:</b> <%= passenger.rideProfile.bio %></p>
                                                            <% } else { %>
                                                                <p>No ride profile information available for this passenger.</p>
                                                            <% } %>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    <% }); %>
                                </ul>
                            <!-- What is shown if a trip has no passengers-->
                            <% }else{ %>
                                <p class = "no-passengers"><i>No passengers yet</i></p>
                            <% } %>   
                            </span>
                       </div>
                   </div>
                </div>
            <!-- Card that is shown if the ride is only a request as of now -->
            <% }else{ %>
                <div class = "card trip-information">
                    <div class = "card text-center">
                        <div class = "card-body">
                                <h2 class="card-title">Car Information</h2>
                                <span class = "ride-profile-subtext">
                                    <p>As this trip is only a request right now there is no car information</p>
                                </span>
                        </div>
                    </div>
                 </div>
            <% } %>
        </div>
    </div>
</div>


<!-- Modal for deleting a trip -->
<div class="modal fade" id="deleteTripModal" tabindex="-1" role="dialog" aria-labelledby="deleteTripModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteTripModalLabel">Delete Trip</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this trip?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form action="/Trips/deleteTrip/<%= trip.id %>" method="POST">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>




<% }else{%>
<!-- Page that is shown if the user not logged in (they should not be able to access this page anyways)-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class = "container-fluid">
        <!-- Navbar Branding -->
        <div class = "navbar-header">
            <a class="navbar-brand" href="/">Kenyon Car Connect</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <!-- Profile Button Information -->
                    <li class = "nav-item">
                        <a href="/User/UserSignupPage" class="btn btn-info me-3" role="button">
                            <i class="fa-solid fa-user"></i> Sign Up
                        </a>
                    </li>
                    <!-- Logout Button Information -->
                    <li class = "nav-item">
                        <a href="/User/UserLoginPage" class="btn btn-info" role="button">
                            <i class="fa-solid fa-right-from-bracket"></i> Login
                        </a>
                    </li>
                </ul>
        </div>
    </div>
</nav>


<div class = "d-flex align-items-center">
    <div class="container mt-4 text-center">
        <h1 id = "LoggedOutWelcomeMessage" class = "fade-text">You must be logged in to view trip information.</h1>
    </div>
</div>
<% } %>


<!-- Scripts for page necessities -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<!-- Script to parse date and time in trip postings -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Format the date for each trip
        document.querySelectorAll('.trip-date').forEach(function(element) {
            const date = new Date(element.textContent);
            const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
            element.textContent = date.toLocaleDateString('en-US', options);
        });

        // Format the time for each trip
        document.querySelectorAll('.trip-time').forEach(function(element) {
            const timeString = element.textContent.trim();
            const [hours, minutes, seconds] = timeString.split(':');
            const date = new Date();
            date.setHours(hours);
            date.setMinutes(minutes);
            date.setSeconds(seconds.split('.')[0]); // Split to remove microseconds
            const options = { hour: 'numeric', minute: 'numeric', hour12: true };
            element.textContent = date.toLocaleTimeString('en-US', options);
        });
    });
</script>

<!-- Scripts for success & error popups -->
<script>
    const urlParams = new URLSearchParams(window.location.search);

    //Popup for if removing a passenger does not work
    if (urlParams.get('error') === 'removePassenger') {
        Swal.fire({
            icon: 'error',
            title: 'Request Failed',
            text: 'There was an error removing the passenger from your ride. Please try again.',
            timer: 3000,
            showConfirmButton: false
        });
        const newUrl = window.location.origin + window.location.pathname;
        window.history.replaceState({}, document.title, newUrl);
    }


</script>


</body>